# frontend (Node/pnpm)
node_modules
frontend/dist
frontend/test-results
frontend/playwright-report

*.log
.DS_Store
.envrc
.env

/.pnpm-store/

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# backend (Go)
backend/bin/
backend/workflows
backend/*.db

# dev setup
/dev/docker/traefik/certificates
docker-compose.override.yml
